*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Bitter' , 'Oxygen' , 'Roboto';
    text-align:justify;
}


.image-row {
    display: flex; 
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding-bottom: 1rem;
}

.image-row img {
    width: 400px;
    height: 300px;
    border-radius: 13px;
    box-shadow: 4px 7px 7px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.card-info-c h1 {
    height: 4rem;
    margin-left: 35.2rem;
    margin-top: 2.5rem;
}

/* ===== Card Rooms Information ===== */

.card-det {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.more-info{
    background-color: rgb(223, 243, 243);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 7px 7px;
}

.more-info p {
    font-weight: 500;
    padding: 0rem 2rem 0 2rem;
    font-size: 1.3rem;
}

/* ====== Form Control ======= */
.booking-form {
    width: 47.75rem;
    margin: 0 auto;
    padding: 2.5rem;
    background: #6e783e;
    border-radius: 1%;
    color: aliceblue;
}
  
.elem-group {
    margin: 10px 0rem;
}
  
.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}
  
.elem-group label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
}
  
.elem-group input, select, textarea {
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}
  
textarea {
    height: 250px;
}
  
hr {
    border: 1px dotted #ccc;
}
  
button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
}
  
button:hover {
    background: #009225;
}

/* ====Rev Section==== */

.contain-rev {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f2fd;
}

.rev-test {
    position: relative;
    max-width: 56.25rem;
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
}

.rev-test img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

.rev-test .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide p {
    text-align: center;
    padding: 0 160px;
}

/* ==== Footer ===== */

.foot-container {
    max-width: 90.1rem;
    background-color: #000000;
    margin: auto;
}

.row-f {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foot-col ul {
    list-style: none;
    margin-top: 1.2rem;
}

.footer {
    background-color: #000000;
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.foot-col {
    width: 20%;
    padding: 0;
}

.foot-col h4 {
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-left: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    position: relative;
}

.foot-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: teal;
    height: 2px;
    box-sizing: border-box;
    width: 5rem;
}

.foot-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.foot-col ul li a {
    padding-left: 20px;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.foot-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.foot-col .social-links a {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.2);
}

.social-link-f a{
    text-decoration: none;
    justify-content: center;
}

.social-link-f a i {
    color: white;
    font-size: 1.4rem;
    margin:0.5rem;
}

.img-foot{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
    background-image: url(/images/footer.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}