*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Bitter' , 'Oxygen' , 'Roboto';
    text-align:justify;
}

.image-row {
    display: flex; 
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding-bottom: 1rem;
}

.image-row img {
    width: 400px;
    height: 300px;
    border-radius: 13px;
    box-shadow: 4px 7px 7px;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

/* Card Rooms Information */

.card-det {
    background-color: tomato;
    height: 50rem;
    width: 50rem;
    margin-left: 21.5rem;
    margin-top: 40rem;
}
 
.card-det h1 {
    padding-left: 2.5rem;
}

.card-det-c {
    background-color: slateblue;
    height: 100vh;
    width: 45rem;
    margin-left: 2.5rem;
}

.card-det-c .more-info {
    padding-left: 3rem;
    padding-top: 3rem;
}

.card-det-c .more-info p {
    font-weight: 800;
}

/* ====== Form Control ======= */
.booking-form {
    width: 47.75rem;
    margin: 0 auto;
    padding: 2.5rem;
    background: #4b5c00;
    border-radius: 1%;
    color: aliceblue;
}
  
.elem-group {
    margin: 10px 0rem;
}
  
.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}
  
.elem-group label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
}
  
.elem-group input, select, textarea {
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
}

.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
  }
  
  button:hover {
    background: #333;
  }