*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Bitter' , 'Oxygen' , 'Roboto';
    text-align:justify;
}

h2{
    text-align: center;
    font-size: 2.5rem;
}

input:hover , textarea:hover{
    box-shadow: 0 0 0.5rem white;
}

input::placeholder , textarea::placeholder{
    color: rgb(75, 73, 73);
}

.nav{
    height: 8vh;
    width: 100%;
    display: flex;
    /* background-color: rgb(151, 131, 16); */
    background-color:  rgb(116, 116, 50);
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    position: fixed;
    top: 0px;
    z-index:9999 ;
}

.head-f1 {
    color: white;
    margin-right: 1rem;
    width:fit-content;
    font-size: 2.5rem;
    font-weight: 60rem;
    font-style: italic;
}

.head-f1::first-letter {
    color: #fbff00;
}

.head-f2 {
    margin-bottom: 0.2rem;
    width: 65%;
    font-size: 1.4rem;
}
.head-f2 ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; 
}
ul li a{
    border-radius: 1rem;
    text-decoration: none; 
    padding: 0.5rem;
    color: rgb(255, 251, 251);
    border-bottom: 3px solid transparent;
}
ul li a:hover{
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
}

/* =====header===== */
.head_cont{
    height: 97vh;
    background-image: linear-gradient(white, rgb(88, 88, 47));
    width: auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
}

.tagline{
    width:40vw;
    height:auto;
    padding: 1rem;
    color: black;
}

.home-img{
    height: 30rem;
    width:40rem;
    background-image: url(/images/myHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
      transform: translateY(0);
    }
    50% {
        transform: translateX(2.5rem);
    }
}

.heading h1{
    font-size: 3.5rem;
    font-weight: 5rem;
}

.description p {
    font-size: 1.3rem;
}

/* =====About Section===== */

.about {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-image: linear-gradient(white, rgb(88, 88, 47));
    height: 100vh;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}
  
.about-content h3{
    font-size: 2.2rem;
}
  
.about-content p{
    font-size: 1.3rem;
    margin: 1rem 5rem 0 0;
}

.about-img {
    height: 40rem;
    width: 50rem;
    filter: drop-shadow(5px 5px 10px #050505);
    animation: floatImage-ab 3s ease-in-out infinite;
}

@keyframes floatImage-ab {
    0% {
      transform: translateY(0);
    }
    50% {
        transform: translateY(2.5rem);
    }
}

/* =====Services Section===== */

.services {
    min-height: 100vh;
    padding-top: 4rem;
}

.services-container {
    margin: 2rem 1.8rem 0rem 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
}
  
.services-container .services-box{
    height: fit-content;
    flex: 1 1 30rem;
    background:teal;
    padding: 1.5rem;
    text-align:center;
    border-radius: 1.5rem;
    border: 0.1rem solid transparent;
    transition: 0.5s ease;
}
  
.services-container .services-box:hover{
    transform: scale(1.02);
}
  
.services-box i{
    text-align: center;
    font-size: 3rem;
    color: rgb(194, 194, 0);
}
  
.services-box h3{
    padding-top: 1rem;
    font-size: 2rem;
}
  
.services-box p{
    font-size: 1.2rem;  
    color: #f7f6f6;
}

.btn_k , .btn-ab{
    display: inline-block;
    padding: 0.5rem; 
    margin-top: 0.5rem;   
    background: beige;
    border-radius: 2rem;
    font-size: 1.4rem;
    color: black;
    letter-spacing:0.05rem;
    font-weight: 500;
    text-decoration: none;
}

.btn_k:hover , .btn-ab:hover{
    box-shadow: 0 0 0.5rem white;
}
  
/* =====main content===== */
#Rent_House, #services{
    background-image: linear-gradient(white, rgb(88, 88, 47));
    padding-bottom: 1.2rem;
}

.search_control{
    display: flex;
    margin: 1rem 5rem 0rem 5rem;
}

.search_box{
    height: 3rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color:  #f7f6f6;
    border:1px solid green;
    border-radius: 1rem 0rem 0rem 1rem;
}
.search_icon{
    font-size: 1.6rem;
    color: gray;
}

.search_bar{
    margin-left: 1rem;
    width:100rem;
    font-size: 1.3rem;
    background-color: #f7f6f6;
}

.search_btn{
    background-color: rgb(50, 132, 50);
    color: white;
    font-size: medium;
    width: 10%;
    height:3rem ;
    border-radius: 0rem 1rem 1rem 0rem;
}

.card_img a{
    float: right;
    padding: 0.2rem;
    margin: 0.4rem;
    text-decoration: none;
    background:rgb(169, 159, 72);
    border-radius: 0.3rem;
    color:white;
}

.address{
    display: flex;
} 

.address i , .details{
    padding: 0.4rem;
}

.details h3{
    padding: 0.3rem;
    background-color: green;
    color: white;
    width: fit-content;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

/* === (in cards) ===*/

.frod {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.card-s {
    border: 2px solid black;
	width: 24rem;
	height: 29.5rem;
    margin-bottom: 2rem;
	background: #fff;
	display: flex;
    border-radius: 1rem;
	align-items: flex-end;
	padding: 3rem 3rem;
	position: relative;
	transition: 0.5s all ease-in-out;
    box-shadow: 5px 5px 10px #555;
}
.card-s:hover {
	/* transform: translateY(-10px); */
	transform: scale(1.05);
}
.card-s::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgb(11, 46, 85));
	z-index: 3;
	opacity: 0;
	transition: 0.5s all;
    border-radius: 1rem;
}
.card-s:hover::before {
	opacity: 1;
}

.card-s img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
    border-radius: 1rem;
}
.card-s .info {
	position: relative;
	color: #fff;
	z-index: 3;
	opacity: 0;
	transform: translateY(2rem);
	transition: 0.5s all;
}
.card-s:hover .info {
	opacity: 1;
	transform: translateY(0);
}

.card-s .info h1 {
	line-height: 40px;
	margin-bottom: 10px;
}
.card-s .info p {
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.card-s .info .btn {
	background: #fff;
	padding: 0.5rem 1rem;
	color: #000;
	font-size: 12px;
	cursor: pointer;
	border-radius: 20px;
	text-decoration: none;
	font-weight: bold;
	transition: 0.1s linear;
}
.card-s .info .btn:hover {
	background: #fc5185;
	color: #fff;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

/* ====New Entry Form=== */
.newEntry{
    background-image: linear-gradient(white, rgb(88, 88, 47));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newEntry h2{
    text-align: center;
    font-size: 2.5rem;
}

.newEnt-Form{
    width: 50vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: teal;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1.5rem;
}

.newEnt-Form input{
    width:40%;
    margin: 0.5rem;;
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

.file:hover{
    box-shadow: none;
}

.newEnt-btn{
    padding: 0.5rem;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    font-weight: 600;
}

.newEnt-btn:hover{
    box-shadow: 0 0 0.5rem white;
    background: rgb(164, 123, 138);
}

/* =====footer===== */

.foot-container {
    max-width: 73.1rem;
    background-color: #000000;
    margin: auto;
}

.row-f {
    display: flex;
    flex-wrap: wrap;
}

.foot-col ul {
    list-style: none;
    margin-top: 1.2rem;
}

.footer {
    background-color: #24262b;
    padding: 4.4rem 0;
}

.foot-col {
    width: 20%;
    padding: 0;
}

.foot-col h4 {
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-left: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    position: relative;
}

.foot-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: teal;
    height: 2px;
    box-sizing: border-box;
    width: 5rem;
}

.foot-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.foot-col ul li a {
    padding-left: 20px;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.foot-col ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.foot-col .social-links a {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.2);
}