*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Bitter' , 'Oxygen' , 'Roboto';
}

/* body {
    background-image: url(/images/web_background.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.nav{
    height: 4rem;
    display: flex;
    background-color: rgb(145, 123, 0);
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    position: sticky;
    top: 0px;
}

.head-f1 {
    color: white;
    margin-right: 1rem;
    width:fit-content;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    font-weight: 60rem;
}

.head-f2 {
    margin-bottom: 0.2rem;
    width: 60%;
    font-size: 1.2rem;
    width: 65%;
    font-size: 1.3rem;
}
.head-f2 ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; 
}
ul li a{
    border-radius: 20%;
    text-decoration: none; 
    padding: 0.5rem;
    color: rgb(255, 251, 251);
    border-bottom: 3px solid transparent;
}
ul li a:hover{
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
}

/* =====header===== */
.header{
    height: 91vh;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
    align-items: center;
}

.tagline{
    width: 35rem;
    height:25rem;
    padding: 1rem;
    color: black;
}

.head_img{
<<<<<<< Updated upstream
    height: 30rem;
    width: 30rem;
    margin-bottom: 5rem;
=======
    height: 30%;
    width: 20%;
>>>>>>> Stashed changes
}

.heading h1 {
    font-size: 4rem;
    font-weight: 10rem;
}

.description p {
    size: 2rem;
}

/* =====main content===== */

.main_heading{
    text-align: center;
}

.search_box{
    height: 3rem;
    width: 75vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: auto;
    background-color:  #f7f6f6;
    border-radius: 1rem;
}
.search_icon{
    font-size: 1.6rem;
    color: gray;
}

.search_bar{
    margin-left: 1rem;
    width:100rem;
    font-size: 1.3rem;
    background-color: #f7f6f6;
    color: lightgray;
}

.filters{
    margin: 1rem 0rem 0rem 1rem;
}

.filter_list ul, .address{
   display: flex;
}

.filter_list ul li{
    padding: 0.3rem;
    list-style: none;
    font-size: 1.3rem;
}

.card_container{
    padding: 0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{ 
    margin: 1.2rem 0rem 0rem 1.2rem;
    height:30rem;
    width: 25%;
    box-shadow: 5px 5px 10px #555;
}

.card_img{
    height: 70%;
    border-radius: 0.3rem;
}

.address i {
    padding: 0.3rem;
}

.address h4{
    font-size: 1.2rem;
}

.details{
    padding: 0.3rem;
}

.details h3{
    padding: 0.3rem;
    background-color: green;
    color: white;
    width: fit-content;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.show_more{
    margin-top: 1.2rem;
    text-align: center;
}

.more_btn{
    padding: 0.3rem;
    font-size: 1.2rem;
    background-color: white;
    border: 2px solid rgb(32, 99, 216);
    color: rgb(32, 99, 216);
    border-radius: 0.5rem;
}

/* ====review section===== */
.main-block {
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: teal;
    margin-left: 3rem;
    }
form {
    border-radius: 2%;
    padding: 25px;
    margin: 25px;
    box-shadow: 5px 5px 10px #555; 
    background: #cecdcd; 
}
    
input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid rgb(13, 170, 170);
    outline: none;
}

input::placeholder {
    color: #666;
}

button {
    width: 40%;
    border-radius: 10%;
    padding: 10px;
    border: none;
    background: rgb(4, 187, 187); 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

button:hover {
    background: #005991;
}

/* =====footer===== */
footer{
    margin-top: 2rem;
    margin-left: 3rem;
    height: 10rem;
    background-color: rgb(54, 51, 51);
    color: white;
}